---
const { title, description, image, url } = Astro.props;
---

<head>
  <title>{title}</title>
  <meta name="description" content={description} />
  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="insurance solutions, underwriting tools, claims management, open source insurance, AI in insurance" />
  <link rel="canonical" href={url} />

  <!-- Open Graph -->
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={image} />
  <meta property="og:url" content={url} />
  <meta property="og:type" content="website" />

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={description} />
  <meta name="twitter:image" content={image} />
</head>

<!-- https://metatags.io/ -->
<!-- https://search.google.com/test/rich-results -->
<!-- https://cards-dev.twitter.com/validator -->
<!-- https://threadcreator.com/tools/twitter-card-validator -->